#### HARI PRASATH

#### 225229110

### IMPROVE STUDENT ADMISSION

In [2]:
# Import necessary libraries

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

In [10]:
# Load the dataset
df = pd.read_csv('Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
df.size

3200

In [13]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [14]:
df.shape

(400, 8)

In [15]:
df.info

<bound method DataFrame.info of             GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 324          107                  4  4.0   4.5  8.87
3                 316          104                  3  3.0   3.5  8.00
4                 322          110                  3  3.5   2.5  8.67
5                 314          103                  2  2.0   3.0  8.21
...               ...          ...                ...  ...   ...   ...
396               324          110                  3  3.5   3.5  9.04
397               325          107                  3  3.0   3.5  9.11
398               330          116                  4  5.0   4.5  9.45
399               312          103                  3  3.5   4.0  8.78
400               333          117                  4  5.0   4.0  9.66

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.76
3                  1              0.72
4                  1              0.80
5                  0              0.65
...              ...               ...
396                1              0.82
397                1              0.84
398                1              0.91
399                0              0.67
400                1              0.95

[400 rows x 8 columns]>

In [16]:
# Separate the features and target variable
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [17]:
# Model Training using LinearRegression

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

ss=MinMaxScaler()

X_S_T=ss.fit_transform(X_train)
X_S_Te=ss.fit_transform(X_test)
lr = LinearRegression()

lr.fit(X_S_T, y_train)

y_pred = lr.predict(X_S_Te)

In [18]:
mse = mean_squared_error(y_test, y_pred)

rmse = np.sqrt(mse)

r_squared = lr.score(X_S_Te, y_test)

In [19]:
mse

0.0051008389023528234

In [20]:
# Model Evaluation

print("Mean Squared Error (MSE): {:.3f}".format(mse))
print("Root Mean Squared Error (RMSE): {:.3f}".format(rmse))
print("Coefficient of determination (R-squared): {:.3f}".format(r_squared))

Mean Squared Error (MSE): 0.005
Root Mean Squared Error (RMSE): 0.071
Coefficient of determination (R-squared): 0.802

# updated model

In [36]:
# Model Training using GradientBoostingRegressor

X_train,X_test,y_train, y_test = train_test_split(X,y, test_size=0.2)

#features = ['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research']
#target = 'Chance of Admit '

gbm = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3)

gbm.fit(X_train, y_train)

y_pred = gbm.predict(X_test)

In [37]:
#model evalution
mse = mean_squared_error(y_test, y_pred)

In [38]:
rmse = np.sqrt(mse)

In [39]:

from sklearn.metrics import r2_score
# Calculate R-squared error
r_score = r2_score(y_test, y_pred)

In [40]:
print("Mean Squared Error (MSE): {:.3f}".format(mse))
print("Root Mean Squared Error (RMSE): {:.3f}".format(rmse))
print("Coefficient of determination (R-squared): {:.3f}".format(r_score))

Mean Squared Error (MSE): 0.004
Root Mean Squared Error (RMSE): 0.061
Coefficient of determination (R-squared): 0.771